*{
  margin: 0px;
  padding: 0px;
}

.clearFix{
  float: none;
  clear: both;
}


body{
  background: url('img/imagen.jpg') no-repeat;
  background-size: 85.4rem 44rem;
  background-attachment: fixed;
}

#global{
  background-color:  rgba(240,255,240,0.74);
  width: 75%;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 1.89rem;
  box-shadow: -1px -1px 17px 11px rgba(0,0,0,0.22);
  padding: 16px;
}

#titulo{
  font-family: 'Architects Daughter', cursive;
  float: left;
  line-height: 3.8rem;
}


#menu{
  background-color:  rgba(100,100,99,0.74);
  font-family: Helvetica, Arial;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

#menu ul{
  text-align: center;
  list-style: none;
  line-height: 2.2rem;
}

#menu ul li{
  height: 2.2rem;
  display: inline-block;
  transition: all 300ms;
}

#menu ul li:hover{
  background: #444;
}


#menu a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 3rem 0 3rem;
}

#posts{
  width: 60%;
  float: left;
  font-family: Helvetica, Arial;
}
.post{
  padding: 6px;
}

h3{
  font-family: Helvetica, Arial;
  font-size: 30px;
  color: #444;
}

.fecha{
  color: #666;
  display: block;
  margin-top: 12px;
  margin-bottom: 24px;
}

.post p{
  text-align: justify;
  margin-bottom: 24px;
  line-height: 21px;
}

.boton-more{
  display: block;
  margin-bottom: 1.4rem;
  border-radius: 3.5px;
  width: 63px;
  background: #666;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.boton-more:hover{
  color: #fff;
  background: #222;
  transition: .33s;
}


#sidebar{
  padding: 10px;
  width: 35%;
  float: right;

  font-family: 'Amatic SC', cursive;
  font-family: 'Architects Daughter', cursive;
  font-family: 'Karla', sans-serif;
}

#sidebar h4{
  margin-top: 50px;
  margin-bottom: 33px;
  text-align: center;
  line-height: 8px;
  color: #444;
}

#sidebar img{
  margin-bottom: 8px;
  width: 22rem;
}

#sidebar p{
  padding-right: 13px;
  font-size: 15px;
  text-align: justify;
}


form input[type="text"],
form input[type="password"],
form input[type="email"]{
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #444;
  width: 83%;
  margin-bottom: 10px;
  box-shadow: 0 0 2px #444;
  margin-top: 10px;
  margin-right: 10px;
}

form input[type="submit"]{
  display: block;
  margin: 11px 25%;
  margin-bottom: 1.4rem;
  border-radius: 3.5px;
  width: 38%;
  background: #999;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

form input[type="submit"]:hover{
  color: #000;
  transition: .22s;
}

#logOut{
  text-align: center;
  display: block;
  margin-top: 33px;
  margin-right: 15px;
  text-decoration: none;
  background: rgba(121,121,121, 0.70) ;
  width: 110px;
  padding: 2px;
  border-radius: 3px;
  float: right;
  color: #fff;
}
#logOut:hover{
  background: rgba(65,65,65, 1);
  transition: .24s;
}

footer{
  font-family: Helvetica, Arial;
  color: #fff;
  background: rgba(121,121,121, 0.70);
  margin: 0 auto;
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 25px;
  line-height: 30px;
}

.bxslider img{
  width: 100%;
  height: 333px;
}
#slector_theme{
  position: fixed;
  top: 40%;
  background: rgba(51, 51, 51, .5);
  width: 44px;
  height: 111px;
}

#to-black,
#to-blue,
#to-yellow{
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

#to-black{background: #444;}
#to-blue{background: #339;}
#to-yellow{background: #772;}
.subir{
  font-family: 'Vast Shadow', cursive;
  color: #900;
  text-decoration: none;
  position: fixed;
  top: 82%;
  left: 95%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #999;
  padding: 6px;
  text-align: center;
  font-size: 30px ;
}
#box{
  margin-left: 80px;
  float: left;
  width: 55%;
  margin-top: 59px;
}
#reloj{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 55px;
  font-weight: bold;
}


#formulario_contacto{
  text-align: center;
  font-size: 14px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #444;
  width: 60%;
  margin-bottom: 10px;
  box-shadow: 0 0 2px #444;
  margin-top: 10px;
}

#formulario_contacto label{
  font-size: 20px;
  color: #444;
  margin: 10px;
  font-family: 'Akronim', cursive;
}
form input[type="text"],
form input[type="email"],
form input[type="number"]{
  width: 266px;
  height: 25px;
}

select{
  margin-top: 8px;
  text-align: center;
  height: 50px;
  width: 100px;
}

.form-error{
  color: #900000;
}
